<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TamanPempek"
        tools:targetApi="31">
        <activity
            android:name=".ui.user.profile.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.profile.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.history.DetailHistoryUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.history.HistoryUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.cart.PaymentUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.cart.CartUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.product.DetailProductUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.setting.SettingUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.product.DashboardUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.setting.SettingSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.profile.EditProfileSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.profile.ProfileSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.bank.EditBankSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.bank.AddBankSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.bank.DetailBankSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.bank.BankSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.product.EditProductSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.product.DetailProductSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.product.AddProductSellerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.seller.product.DashboardSellerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>